<body
  class="img js-fullheight"
  style="
    background-image: url(https://a-static.besthdwallpaper.com/hailee-steinfeld-fitness-workout-wallpaper-1920x540-43717_70.jpg);
  "
>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Register</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <form
              class="signin-form"
              [formGroup]="myForm"
              novalidate
              (ngSubmit)="onSubmit()"
            >
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="full name"
                  formControlName="fullName"
                  id="fullName"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email Address"
                  formControlName="email"
                  id="email"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  id="password-field"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password"
                  id="password"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  id="password-field2"
                  type="password"
                  class="form-control"
                  placeholder="Confirm Password"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="username"
                  class="form-control"
                  placeholder="Username"
                  formControlName="username"
                  id="username"
                  required
                />
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="form-control btn btn-primary submit px-3"
                >
                  Register
                </button>
              </div>
              <div class="form-group text-center">
                <div class="text-center">
                  <div class="text-middle">
                    <!-- <a style="color: #fff">Forgot Password</a> -->
                  </div>
                </div>
              </div>
            </form>
            <p class="w-100 text-center">&mdash; got account? &mdash;</p>
            <div class="form-group">
              <button
                type="submit"
                class="form-control btn btn-primary submit px-3"
                routerLink="/login"
                routerLinkActive="active"
              >
                Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
