<!--
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a routerLink="/displayContact" class="nav-link" routerLinkActive="active">
            display Contact
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/workout" routerLinkActive="active">Workouts </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calorie_tracker" routerLinkActive="active">Calorie Tracker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active">Log In</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">ExerciseLah!</h3>
  </div> -->

<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a routerLink="/workout" class="navbar-brand d-flex align-items-center">
        <strong>WorkoutLah!</strong>
      </a>
      <nav class="nav nav-masthead justify-content-center">
        <!-- <li class="nav-item">
          <a routerLink="/displayContact" class="nav-link" routerLinkActive="active">
            display Contact
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/workout" routerLinkActive="active">Workouts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calorie_tracker/{{this.userUid}}" routerLinkActive="active">Calorie Tracker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="this.loggedIn">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile/{{this.userUid}}" routerLinkActive="active" *ngIf="!this.loggedIn">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" type="button" routerLinkActive="active" (click)="onLogout()" *ngIf="!this.loggedIn">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin" *ngIf="this.isAdmin">admin</a>
        </li>
      </nav>
    </div>
  </div>
</header>
