
<div class="container">
  <br>
  <app-workout-or-comment
  [id]="this.id"
  ></app-workout-or-comment>
   <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
      <div class="card-body">
        <div class="account-settings">
          <div class="user-profile">
              <img
                  [src]="image"
                  width="200px"
                  height="200px"
                  alt=""
                />
          </div>
          <div class="about">
            <h5>About</h5>
            <p>{{this.workout.summary}}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <br>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
      <div class="card-body">
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="mb-2 text-primary">Workout Details</h6>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <h4>Calories Burnt: {{this.workout.calories_burnt}}</h4>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <h4>Workout Type: {{this.workout.workout_type}}</h4>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <h4>Duration (mins): {{this.workout.duration}}</h4>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <h4>Equipment needed: {{this.workout.equipment}}</h4>
            </div>
          </div>
        </div>
        <div class="row gutters" style="margin-left: 0px ;" *ngFor="let workoutDetail of this.workoutDetails; let i = index">
          <h4>workout: {{i + 1}}</h4>
              <div class="col-xl-2 col-lg-5 col-md-5 col-sm-5 col-5">

                <h3>{{this.workoutDetail.workout}}</h3>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <h4>set: {{workoutDetail.set}}</h4>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <h4>Rep: {{workoutDetail.rep}}</h4>

              </div>
        </div>
        <div class="row gutters">
          <table
      mat-table
      [dataSource]="this.dataSource"
      class="mat-elevation-z8"
      style="width: 70%; height: auto;"
    >
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
          {{ foodDetailsAlreadyTaken.name }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="serving_size_g">
        <th mat-header-cell *matHeaderCellDef>Serving Portion (g)</th>
        <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
          {{ foodDetailsAlreadyTaken.serving_size_g }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef>Calories</th>
        <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
          {{ foodDetailsAlreadyTaken.calories }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="carbohydrates">
        <th mat-header-cell *matHeaderCellDef>Carbohydrates</th>
        <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
          {{ foodDetailsAlreadyTaken.carbohydrates_total_g }}
        </td>
      </ng-container>

      <ng-container matColumnDef="protein">
        <th mat-header-cell *matHeaderCellDef>Protein</th>
        <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
          {{ foodDetailsAlreadyTaken.protein_g }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sodium">
        <th mat-header-cell *matHeaderCellDef>Sodium</th>
        <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
          {{ foodDetailsAlreadyTaken.sodium_mg }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sugar_g">
        <th mat-header-cell *matHeaderCellDef>Sugar(g)</th>
        <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
          {{ foodDetailsAlreadyTaken.sugar_g }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ngx-charts-linear-gauge [view]="[200,200]" [scheme]="colorScheme" [value]="this.foodData_calories" [previousValue]="3000" [units]="linearUnits"></ngx-charts-linear-gauge>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
              <ngx-charts-advanced-pie-chart [results]="this.FoodData" [view]="[800, 200]" [scheme]="colorScheme" [gradient]="gradient"></ngx-charts-advanced-pie-chart>

            </div>
            <div class="text-right">
              <button type="button" id="submit" name="submit" routerLink="/workout" class="btn btn-primary">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
