<!-- <mat-icon (click)="previousDay($event)">arrow_back</mat-icon> -->
<br /><br />
<div class="container">
  <div class="row justify-content-center">
    <h2>Your Food Diary For :</h2>
  </div>
  <div class="row justify-content-center">
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="myDatePicker"
        placeholder="Form Date"
        [(ngModel)]="datepickedbyuser"
        (dateInput)="addEvent($event)"
      />
      <mat-datepicker-toggle
        [for]="myDatePicker"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <hr />
  <br />
  <h3>Food Eaten Today</h3>

  <div class="row">
    <form [formGroup]="createFoodTaken">
      <ng-container formArrayName="foodTakenDetails">
        <ng-container
          *ngFor="
            let FoodTakenDetailsForm of foodTakeDetails.controls;
            let i = index
          "
        >
          <div class="col-md-12" [formGroup]="FoodTakenDetailsForm">
            <mat-form-field appearance="fill">
              <mat-label>Enter Food</mat-label>
              <input
                matInput
                #inputFood
                type="text"
                placeholder="Enter Food"
                formControlName="name"
              />
              <mat-hint align="end"></mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Enter Food Grams</mat-label>
              <input
                matInput
                #inputFoodGram
                type="number"
                placeholder="Enter food Grams"
                formControlName="serving_size_g"
              />
              <mat-hint align="end"></mat-hint>
            </mat-form-field>
            <mat-icon (click)="getFoodData(i)">check_circle</mat-icon>
          </div>
        </ng-container>
      </ng-container>
    </form>
  </div>
  <button (click)="addFoodTakenDetails(); showDate()">add food</button>
</div>
<div class="container">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="width: 100%"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
        {{ foodDetailsAlreadyTaken.name }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="serving_size_g">
      <th mat-header-cell *matHeaderCellDef>Serving Portion (g)</th>
      <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
        {{ foodDetailsAlreadyTaken.serving_size_g }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="calories">
      <th mat-header-cell *matHeaderCellDef>Calories</th>
      <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
        {{ foodDetailsAlreadyTaken.calories }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="carbohydrates">
      <th mat-header-cell *matHeaderCellDef>Carbohydrates</th>
      <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
        {{ foodDetailsAlreadyTaken.carbohydrates_total_g }}
      </td>
    </ng-container>

    <ng-container matColumnDef="protein">
      <th mat-header-cell *matHeaderCellDef>Protein</th>
      <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
        {{ foodDetailsAlreadyTaken.protein_g }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sodium">
      <th mat-header-cell *matHeaderCellDef>Sodium</th>
      <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
        {{ foodDetailsAlreadyTaken.sodium_mg }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sugar_g">
      <th mat-header-cell *matHeaderCellDef>Sugar(g)</th>
      <td mat-cell *matCellDef="let foodDetailsAlreadyTaken">
        {{ foodDetailsAlreadyTaken.sugar_g }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let foodDetailsAlreadyTaken; let i = index">
        <button style="outline: none; border: none">
          <i class="material-icons" (click)="deleteSpecificFood(i)">delete</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="container">
    <div class="row">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <p>
                <input formControlName="name" id="name" placeholder="name" />
                <input formControlName="post" id="post" placeholder="post" />
                <button class="btn btn-primary" type="submit">Submit</button>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row" *ngFor="let post of posts">
      <div class="card card-block">
        <h4>{{ post.name }}</h4>
        <p>{{ post.post }}</p>
        <input
          type="text"
          class="card-title"
          value="{{ post.name }}"
          id="{{ post._id }}_name"
        />
        <input
          type="number"
          class="card-text"
          value="{{ post.post }}"
          id="{{ post._id }}_post"
        />
        <a
          href="javascript:void(0)"
          (click)="deletePost(post._id)"
          class="card- link"
          >Delete</a
        >
        <a
          href="javascript:void(0)"
          (click)="updatePost(post._id)"
          class="card- link"
          >Update</a
        >
      </div>
    </div>
  </div>

  <!-- <mat-icon (click)="nextDay()">arrow_forward</mat-icon> -->
</div>
