.legend-item.ng-star-inserted {
  margin-top: 10px;
}


:host ::ng-deep .legend-item.ng-star-inserted  {
  margin-top: 10px !important;
}
:host ::ng-deep .total-label  {
  visibility: hidden !important;
}


:host ::ng-deep .total-value  {
  visibility: hidden !important;
}
