<body>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li>
          <a>
            <i class="fas fa-th-large"></i>
            <div>Dashboard</div>
          </a>
        </li>
        <li>
          <a>
            <i class="fas fa-user-graduate"></i>
            <div>reports</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="main">
      <!-- <div class="cards">
        <div class="card">
          <div class="card-content">
            <div class="number">1217</div>
            <div class="card-name">Students</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-user-graduate"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">42</div>
            <div class="card-name">Teachers</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">68</div>
            <div class="card-name">Employees</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-users"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">$4500</div>
            <div class="card-name">Earnings</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-dollar-sign"></i>
          </div>
        </div>
      </div> -->
      <div class="charts">
        <div class="chart" style="width: 100%">
          <h2>Users joined this month</h2>
          <div>
            <iframe
              style="
                background: #ffffff;
                border: none;
                border-radius: 2px;
                box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
              "
              width="1000px"
              height="500px"
              src="https://charts.mongodb.com/charts-project-0-mjgzb/embed/charts?id=62f3cddf-315e-49f1-8f71-54c4b74bb80d&maxDataAge=3600&theme=light&autoRefresh=true"
            ></iframe>
          </div>
        </div>
        <div class="chart" style="width: 100%">
          <h2>Total users</h2>
          <div>
            <iframe
              style="
                background: #ffffff;
                border: none;
                border-radius: 2px;
                box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
              "
              width="500"
              height="480"
              src="https://charts.mongodb.com/charts-project-0-mjgzb/embed/charts?id=62f51cd4-fdf6-4a5c-8d5a-17a6382b1e4c&maxDataAge=3600&theme=light&autoRefresh=true"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="charts">
        <div class="chart" style="width: 100%">
          <h2>Most popular workouts</h2>
          <div>
            <iframe
              style="
                background: #ffffff;
                border: none;
                border-radius: 2px;
                box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
              "
              width="1000px"
              height="500px"
              src="https://charts.mongodb.com/charts-project-0-mjgzb/embed/charts?id=62f4f2a0-cf58-452f-8b16-4546c9e8bfef&maxDataAge=3600&theme=light&autoRefresh=true"
            ></iframe>
          </div>
        </div>
        <div class="chart" style="width: 100%">
          <h2>users joined</h2>
          <div>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="500" height="480" src="https://charts.mongodb.com/charts-project-0-mjgzb/embed/charts?id=62f51e8e-4ccd-450a-8ebe-0b695cafe570&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
