<!--create a modal using ng-template directive -->
<ng-template #contents let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">view workout</h4>
  </div>
  <div class="container">
    <br />
    <form>
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" style="width: 250px; height: 250px">
              <img
                alt="man running"
                style="width: 100%; height: 100%"
                src="{{ image }}"
              />
            </div>
          </div>
          <br />
          <div class="row border">
            <div
              class="col-md-12"
              *ngFor="let workoutDetail of this.workoutDetails"
            >
              <div class="row">
                <div class="col-md-12 border">
                  <h6>{{ workoutDetail.workout }}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6>rep: {{ workoutDetail.rep }}</h6>
                </div>
                <div class="col-md-12">
                  <h6>set: {{ workoutDetail.set }}</h6>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <h6>summary of workout</h6>
            </div>
            <div class="col-md-8">
              <p id="view_summary">{{ summary }}</p>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>calories burnt</h6>
            </div>
            <div class="col-md-8">
              <p id="view_calories_burnt">{{ calories_burnt }}</p>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>type of workout</h6>
            </div>
            <div class="col-md-8">
              <p id="view_workout_type">{{ workout_type }}</p>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>duration of workout</h6>
            </div>
            <div class="col-md-8">
              <p id="view_duration">{{ duration }}</p>
            </div>
          </div>
          <br />
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #add let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add workout</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')">close</button>
  </div>
  <!-- <form [formGroup]="createWorkout" (ngSubmit)="(onSubmit)"> -->
  <form [formGroup]="createWorkout" >
    <div class="container">
      <br />
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <div
                class="custom-dropzone"
                ngx-dropzone
                [accept]="'image/*'"
                (change)="onSelect($event)"
              >
                <ngx-dropzone-label>
                  <div>
                    <h2>Add a picture here</h2>
                  </div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview
                  ngProjectAs="ngx-dropzone-preview"
                  *ngFor="let f of files"
                  [file]="f"
                  [removable]="true"
                  (removed)="onRemove(f)"
                >
                  <!-- <ngx-dropzone-label
                    >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
                  > -->
                </ngx-dropzone-image-preview>
              </div>
            </div>
          </div>
          <br />
          <div class="row border">
            <h2>Add workout Details here</h2>
            <ng-container formArrayName="workout">
              <ng-container *ngFor="let workoutdetailform of workouts.controls; let i = index">
                <div class="col-md-12" [formGroup] ="workoutdetailform">
                  <div class="row">
                    <div class="col-md-12 border">
                      <input
                        type="text"
                        placeholder="workout name"
                        formControlName = "workout"
                      />
                      <i class="bi bi-x-circle" (click)="deleteWorkout(i)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                      </svg></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h6>
                        rep:
                        <input type="text" id="rep" formControlName = "rep" />
                      </h6>
                    </div>
                    <div class="col-md-12">
                      <h6>
                        set:
                        <input type="text" id="create_set" formControlName = "set" />
                      </h6>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <br />
          <div class="row">
            <div class="col-md-12 text-center">
              <button class="rounded-circle" (click)="addWorkoutDetails()">
                <span>&#43;</span>
              </button>
            </div>
          </div>
          <br />
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <h6>summary of workout</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="summary" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>calories burnt</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="calories_burnt" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>type of workout</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="workout_type" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>duration of workout</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="duration" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>Equipment needed:</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="equipment" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" (click)="onSubmit(); modal.close()">add workout</button>
      </div>
    </div>
  </form>
</ng-template>

<div class="container">
  <h6>Workout List</h6>
  <div class="row">
    <div class="col-md-1">
      <button type="button" class="btn btn-success">Core</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success">Lower Body</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success">Total Body</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success">Upper Body</button>
    </div>
    <div class="col-md-2">
      <form class="form-inline">
        <input
          class="form-control mr-sm-0"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
    <div class="col-md-2 text-right">
      <button
        type="button"
        class="btn btn-success"
        (click)="openCreateModal(add)"
      >
        Add Workout
      </button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4" *ngFor="let workout of this.listOfWorkouts">
      <div class="card" style="width: 18rem">
        <img
          src="{{ workout.workout_photo }}"
          class="card-img-top"
          alt="guy running"
        />
        <div class="card-body">
          <div class="row">
            <h5 class="card-title col-md-8">
              {{ workout.workout_type }} - {{ workout.duration }}mins
            </h5>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-heart col-md-4"
              viewBox="0 0 16 16"
            >
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
              />
            </svg>
          </div>

          <p class="card-text">Description :</p>
          <p>Calorie Burned: {{ workout.calories_burnt }}</p>
          <p>Equipment: {{ workout.equipment }}</p>
          <button
            type="button"
            (click)="openModal(contents, workout)"
            data-toggle="modal"
            data-target="#Modal1"
          >
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
