<!--create a modal using ng-template directive -->
<ng-template #contents let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">view workout</h4>
  </div>
  <div class="container">
    <br />
    <form>
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <img [src]="image" width="250" height="250">
          </div>
          <br />
          <div class="row border">
            <div
              class="col-md-12"
              *ngFor="let workoutDetail of this.workoutDetails"
            >
              <div class="row">
                <div class="col-md-12 border">
                  <h6>{{ workoutDetail.workout }}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6>rep: {{ workoutDetail.rep }}</h6>
                </div>
                <div class="col-md-12">
                  <h6>set: {{ workoutDetail.set }}</h6>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <h6>summary of workout</h6>
            </div>
            <div class="col-md-8">
              <p id="view_summary">{{ summary }}</p>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>calories burnt</h6>
            </div>
            <div class="col-md-8">
              <p id="view_calories_burnt">{{ calories_burnt }}</p>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>type of workout</h6>
            </div>
            <div class="col-md-8">
              <p id="view_workout_type">{{ workout_type }}</p>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>duration of workout</h6>
            </div>
            <div class="col-md-8">
              <p id="view_duration">{{ duration }}</p>
            </div>
          </div>
          <br />
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #add let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add workout</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      close
    </button>
  </div>
  <!-- <form [formGroup]="createWorkout" (ngSubmit)="(onSubmit)"> -->
  <form [formGroup]="createWorkout">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <input type="file" (change)="onChange($event, 'create')">
              <div *ngIf="createdImage">
                <img [src]="createdImage | async" width="200px" height="200px" alt="" />
              </div>
            </div>
          </div>
          <br />
          <div class="row border">
            <h2>Add workout Details here</h2>
            <ng-container formArrayName="workout">
              <ng-container
                *ngFor="
                  let workoutdetailform of workouts.controls;
                  let i = index
                "
              >
                <div class="col-md-12" [formGroup]="workoutdetailform">
                  <div class="row">
                    <div class="col-md-12 border">
                      <div>
                        <mat-form-field appearance="fill">
                          <mat-label>Enter Workout</mat-label>
                          <input
                            matInput
                            #inputworkout
                            type="text"
                            placeholder="Enter workout"
                            formControlName="workout"
                          />
                          <mat-hint align="end"></mat-hint>
                        </mat-form-field>
                      </div>
                      <i class="bi bi-x-circle" (click)="deleteWorkout(i)"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-x-circle-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
                          /></svg
                      ></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Enter amount of set</mat-label>
                        <input
                          matInput
                          #inputset
                          type="number"
                          placeholder="Enter Set"
                          formControlName="set"
                        />
                        <mat-hint align="end"></mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Enter amount of rep</mat-label>
                        <input
                          matInput
                          #inputrep
                          type="number"
                          placeholder="Enter Rep"
                          formControlName="rep"
                        />
                        <mat-hint align="end"></mat-hint>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <br />
          <div class="row">
            <div class="col-md-12 text-center">
              <button class="rounded-circle" (click)="addWorkoutDetails()">
                <span>&#43;</span>
              </button>
            </div>
          </div>
          <br />
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <h6>summary of workout</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="summary" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>calories burnt</h6>
            </div>
            <div class="col-md-8">
              <input type="number" formControlName="calories_burnt" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>type of workout</h6>
            </div>
            <div class="col-md-8">
              <select formControlName="workout_type" id="workout_type">
                <option value="core" selected="selected">Core</option>
                <option value="Lower Body">Lower Body</option>
                <option value="Total Body">Total Body</option>
                <option value="Upper Body">Upper Body</option>
              </select>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>duration of workout</h6>
            </div>
            <div class="col-md-8">
              <input type="number" formControlName="duration" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>Equipment needed:</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="equipment" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          type="submit"
          (click)="onSubmit(); modal.close()"
        >
          Add workout
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #edit let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add workout</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      close
    </button>
  </div>
  <!-- <form [formGroup]="createWorkout" (ngSubmit)="(onSubmit)"> -->
  <form [formGroup]="updateForm">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <input type="file" (change)="onChange($event, 'edit')">
              <div *ngIf="updateImage">
                <img [src]="updateImage | async" width="200px" height="200px" alt="" />
              </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row border">
            <h2>Add workout Details here</h2>
            <ng-container formArrayName="workout">
              <ng-container
                *ngFor="
                  let workoutdetailform of updateworkouts.controls;
                  let i = index
                "
              >
                <div class="col-md-12" [formGroup]="workoutdetailform">
                  <div class="row">
                    <div class="col-md-12 border">
                      <input
                        type="text"
                        placeholder="workout name"
                        formControlName="workout"
                      />
                      <i class="bi bi-x-circle" (click)="deleteUpdateWorkout(i)"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-x-circle-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
                          /></svg
                      ></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h6>
                        rep:
                        <input type="text" id="rep" formControlName="rep" />
                      </h6>
                    </div>
                    <div class="col-md-12">
                      <h6>
                        set:
                        <input
                          type="text"
                          id="create_set"
                          formControlName="set"
                        />
                      </h6>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <br />
          <div class="row">
            <div class="col-md-12 text-center">
              <button
                class="rounded-circle"
                (click)="addUpdateWorkoutDetails()"
              >
                <span>&#43;</span>
              </button>
            </div>
          </div>
          <br />
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <h6>summary of workout</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="summary" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>calories burnt</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="calories_burnt" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>type of workout</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="workout_type" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>duration of workout</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="duration" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <h6>Equipment needed:</h6>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="equipment" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          type="submit"
          (click)="onUpdate(); modal.close()"
        >
          Edit workout
        </button>
      </div>
  </form>
</ng-template>

<div class="container text-right">
  <button mat-button [matMenuTriggerFor]="menu">Types of workout</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="filter('core')">Core</button>
    <button mat-menu-item (click)="filter('Lower Body')">Lower Body</button>
    <button mat-menu-item (click)="filter('Total Body')">Total Body</button>
    <button mat-menu-item (click)="filter('Upper Body')">Upper Body</button>
    <button mat-menu-item (click)="noFilter()">All</button>
  </mat-menu>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1>Singaporeans Rise Up</h1>
    <p class="lead text-muted">Time to Lose off the weight and share your Workouts</p>
    <p>
      <a class="btn btn-primary my-2" routerLink="/createworkout">Add Workout</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4" *ngFor="let workout of this.filteredWorkout; let i = index">

          <div class="card mb-4 shadow-sm">
            <img [src]="changeToImage(workout.workout_photo)" class="bd-placeholder-img card-img-top" width="100%" height="225">
            <title>Placeholder</title>
            <div class="card-body">
              <p class="card-text">
                <div class="row">
                  <h5 class="card-title col-md-8">
                    {{ workout.workout_type }}
                  </h5>
                </div>

                <p class="card-text">Description : {{ workout.summary }}</p>
                <p>Calorie Burned: {{ workout.calories_burnt }}</p>
                <p>Equipment: {{ workout.equipment }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary" (click)="openModalview(contents, workout)" data-toggle="modal" data-target="#Modal1">View</button> -->
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/viewWorkout/{{workout._id}}" data-toggle="modal" data-target="#Modal1">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/editWorkout/{{workout._id}}">Edit</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteEntireWorkout(i)">Delete</button>
                </div>
                <small class="text-muted">{{ workout.duration }}mins</small>
              </div>
            </div>
          </div>

      </div>
    </div>

  </div>
</div>
