<div class="text-align:cent">
  <h1>Create Contact</h1>
</div>

<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p><input formControlName="_id" id="id" placeholder="ID"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p><input formControlName="name" id="name" placeholder="NAME"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p><input formControlName="tel" id="tel" placeholder="TEL"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p><input formControlName="email" id="email" placeholder="EMAIL"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p><button class="btn btn-primary" type="submit">Create</button></p>
      </div>
    </div>
  </div>
</form>
